  <h1 class='name'>
    {{name}}
  </h1>
  <div class='data'>
    <ul class='data__list'>
      <li class='data__item'>Capital:
        {{capital}}
      </li>
      <li class='data__item'>Population:
        {{population}}
      </li>
      <li class='data__item languages'>
        <ul class='languages__item'>
          {{#each languages}}
            <li>Languages:
              {{name}}
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>
    <img src="{{flag}}" alt="{{name}}" class="card__img">
  </div>
