<h1 class="name">{{name}}</h1>
<div class="data">
    <ul class="data__list">
<li class="data__item">{{capital}}</li>
<li class="data__item">{{populationl}}</li>
<li class="data__item languages">{{languages}}
    <ul class="languages__item">
        <li>{{language}}</li>
    </ul>
</li>
</ul>
</div>